@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  color: #30252b;
  background: #fffaf8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button, input {
  font: inherit;
}

button {
  cursor: pointer;
}
